/* stilos de Validação Visual Js*/
.is-invalid {
    border-color: var(--color-danger) !important; /* !important para sobrepor */
    background-color: #fff8f8;
}

.error-message {
    display: none; /* Oculto por padrão, JS vai controlar */
    color: var(--color-danger);
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-1);
}